{% extends 'notice/base.html' %}
    {% block main_area %}
        <!--create notice-->
        {% if user.is_authenticated %}
        <a class="btn btn-info btn-sm float-right" href="/notice/create_notice/" role="button">
            <i class="fas fa-pen"></i>&nbsp;&nbsp;New Notice</a>
        {% endif %}

        <h1>Notice 
        
        {% if category %}<span class="badge badge-secondary">{{category}}</span>{% endif%} </h1>
      
        <!--  notice-->
        {% if notice_list.exists %}
        {% for n in notice_list %}
        <div class="card mb-4" id="notice-{{n.pk}}">
            {% if n.head_image %}

        
            <a href="{{n.get_absolute_url}}"><img class="card-img-top" src="{{n.head_image.url}}" alt="{{n}} head image" /></a>
            {% endif%}
            <div class="card-body">
                {% if n.category %}
                <span class="badge badge-secondary folat-right">{{n.category}}</span>
                {% else %}
                <span class="badge badge-secondary folat-right">기타</span>
                {% endif %}
                <div class="small text-muted">&nbsp;</div>
                <h2 class="card-title h4" >{{n.title}}</h2>
                {% if n.hook_text %}
                <h5 class="text_muted">{{n.hook_text}}</h5>
                {%endif%}
                <p class="card-text">{{n.get_content_markdown | truncatewords_html:20 | safe}}</p>

                
                
                <a class="btn btn-danger border-#cc1616 bg-#cc1616" href="{{n.get_absolute_url}}">Read more →</a>
            </div>
            <div class="card-footer text-muted">
                Postd on {{n.created_at}} by
                <a href="#"> {{n.author | upper}}</a>
            </div>
        </div>
        {% endfor %}
        {% else %} 
        <h3>아직 게시물이 없습니다</h3>
        {% endif %}


        <!-- Pagination-->
        {% if is_paginated %}
<nav aria-label="Pagination">
    <hr class="my-0" />
    <ul class="pagination justify-content-center my-4">
        {% if page_obj.has_previous%}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}" >Newer</a></li>
        {% else%}
        <li class="page-item disabled"><a class="page-link" href="#" >Newer</a></li>
        {% endif %}
       
        {% if page_obj.has_next%}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Older</a></li>
        {%else%}
        <li class="page-item disabled"><a class="page-link" href="#" >Older</a></li>
        {% endif%}
    </ul>
    {%endif%}
</nav>
{% endblock %}