<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>{%block head_title %} Mypage {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'mypage/bootstrap/bootstrap.min.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/fb58eed872.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'blog/simple_nav.html' %}

    <div class="container my-3">
        <div class="row">
            <div class="col-md-8 col-lg-9" id="main-area">
                {% block main_area %}
                {% endblock %}



            </div>

            <div class="col-md-4 col-lg-3">

                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" id="search-input" type="text" placeholder="Enter search term..."
                                aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn btn-secondary" id="button-search" type="button"
                                onclick="searchMyPost();">Go!</button>
                        </div>
                    </div>
                </div>


                <!-- Categories widget-->
                <div class="card mb-4" id="categories-card">
                    <div class="card-header">My Categories</div>
                    <div class="card-body">
                        <div class="row">

                            <ul>
                                <li>
                                    <a href="/blog/mycategory/correct">correct({{correct}})</a>
                                </li>
                                <li>
                                    <a href="/blog/mycategory/turtleneck">turtleneck({{turtleneck}})</a>
                                </li>
                                <li>
                                    <a href="/blog/mycategory/no_category/">기타({{no_category_post_count}})</a>
                                </li>


                            </ul>

                        </div>
                    </div>
                </div>

                <!-- Point widget-->
                <!-- <div class="card mb-4">
                <div class="card-header">My Points</div>
                <div class="card-body">
                   <div id="point_card">나의 포인트는?</div>
                </div>
                </div> -->
                </div>
       

            </div>
        </div>

    </div>
    </div>


    <hr />

    <script>
        function searchMyPost() {
            let searchValue = document.getElementById('search-input').value.trim();
            if (searchValue.length > 1) {
                location.href = "/mypage/search/" + searchValue + "/";
            }
            else {
                alert('검색어(' + searchValue + ')가 너무 짧습니다.');
            }
        };

        document.getElementById('search-input').addEventListener('keyup', function (event) {
            if (event.key == 'Enter') {
                searchMyPost();
            }
        });
    </script>
    
    <div class="fixed-bottom">
        {% include 'blog/footer.html' %}
    </div>