<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>{%block head_title %} Login {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'mypage/bootstrap/bootstrap.min.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/fb58eed872.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'blog/simple_nav.html' %}

    <div class="container my-3">
        <div class="row">
            <div class="col-md-8 col-lg-9" id="main-area">
                {% block content %}

                <div class = 'container'>
                    <h1> Login </h1>
                    
                    <form method="POST" action="{% url 'loginprocess' %}">
                        {% csrf_token %}
                        E-mail Address:
                        <br>
                        <input name='E-mail' type='email'>
                        <br>
                        Password:
                        <br>
                        <input name="password1" type="password">
                        <br><br>
                        <input type="submit" class="btn btn-secondary" value="Login">
                        <button type="button" class="btn btn-danger"><a  href="{% url 'pwResetview' %}" style="text-decoration: none;color: aliceblue;">Password Find</a></button>
                    </form>
                </div>

                {% endblock %}

                <br><br>
                <h3>{{error_message}}</h3>

            </div>

        </div>
    </div>
    </div>

    <script>

        function searchMyPost() {
            let searchValue = document.getElementById('search-input').value.trim();
            if (searchValue.length > 1) {
                location.href = "/mypage/search/" + searchValue + "/";
            }
            else {
                alert('검색어(' + searchValue + ')가 너무 짧습니다.');
            }
        };

        document.getElementById('search-input').addEventListener('keyup', function (event) {
            if (event.key == 'Enter') {
                searchMyPost();
            }
        });
        
    </script>

    <div class = "fixed-bottom">
    {% include 'blog/footer.html' %}
    </div>
  
    