<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>{%block head_title %} 회원가입 {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'mypage/bootstrap/bootstrap.min.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/fb58eed872.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'blog/navbar.html' %}

    <div class="container my-3">
        <div class="row">
            <div class="col-md-8 col-lg-9" id="main-area">
                {% block content %}
    
                <div class = 'container'>
                    <h1> Sign up </h1>
                    
                    <form method="POST" action="{% url 'signup' %}">
                        {% csrf_token %}
                        User Nickname:
                        <br>
                        <input name='username' type='text'>
                        <br>
                        E-mail Address:
                        <br>
                        <input name='E-mail' type='email'>
                        <br>
                        Password:
                        <br>
                        <input id="pwd1" name="password1" type="password">
                        <br>
                        Confirm Password:
                        <br>
                        <input id="pwd2" name="password2" type="password">
                        <br><br>
                        <input type="submit" class="btn btn-secondary" value="sign up">
                    </form>
                </div>
    
                {% endblock %}
    
    
    
            </div>

            

    <div class = "fixed-bottom">
    {% include 'blog/footer.html' %}
    </div>